@tailwind base;

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/AvenirLTStd-Roman.otf');
    font-weight: normal;
    font-style: normal;
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #081e32;
}

.__africaMap {
    background-image: url("https://res.cloudinary.com/osca/image/upload/v1576543138/osf/Patterns/map.png");
    background-position: bottom right;
    @apply pl-24 bg-cover bg-repeat-y;
}