@tailwind base;

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir/AvenirLTStd-Roman.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anisette";
  font-display: swap;
  src: url("../fonts/Anisette/Anisette-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work-Sans";
  font-display: swap;
  src: url("../fonts/WorkSans/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  font-display: swap;
  src: url("../fonts/ClashDisplay/ClashDisplay-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Humane";
  font-display: swap;
  src: url("../fonts/Humane/Humane-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::selection {
  background: #656666;
  color: #fff;
}
::-moz-selection {
  background: #656666;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

iframe,
object,
embed {
  max-width: 100% !important;
}

.line {
  display: flex;
  align-items: center;
}

.line span {
  content: "";
  flex: 1 1 auto;
  border-top: 1px dashed #c4c4c4;
  margin-left: 20px;
}

div .overlay {
  --gradient-color: "none" !important;
}

.border-top-bottom {
  border-top: 2px solid #f79313;
  border-bottom: 2px solid #f79313;
}

.gallery-images {
  flex: 50%;
}

.table {
  display: table;
}

.play-video {
  justify-content: flex-end;
  align-items: flex-end;
}

body {
  background-color: #020212;
}

.speakers-carousel-2023 > .swiper-scrollbar {
  left: 0px !important;
  bottom: 10px !important;
  background-color: #232336;
  max-width: 1200px !important;
}

@media screen and (min-width: 1500px) {
  .speakers-carousel-2023 > .swiper-scrollbar {
    max-width: 1363px !important;
  }
}

.speakers-carousel-2023 > .swiper-scrollbar > .swiper-scrollbar-drag  {
  background: #FFFFFF;
}