@tailwind base;

@font-face {
  font-family: "Avenir";
  font-display: auto;
  src: url("../fonts/Avenir/AvenirLTStd-Roman.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  font-display: auto;
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anisette";
  font-display: auto;
  src: url("../fonts/Anisette/Anisette-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work-Sans";
  font-display: auto;
  src: url("../fonts/WorkSans/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1B352D;
}

::selection {
  background: #1B352D;
  color: #fff;
}
::-moz-selection {
  background: #1B352D;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

iframe,
object,
embed {
  max-width: 100% !important;
}

.line {
  display: flex;
  align-items: center;
}

.line span {
  content: "";
  flex: 1 1 auto;
  border-top: 1px dashed #c4c4c4;
  margin-left: 20px;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.marquee {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 20px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.border-top-bottom {
  border-top: 2px solid #F79313;
  border-bottom: 2px solid #F79313;
}

.border-top{
  border-top: 2px solid #F79313;
}

.border-bottom{
  border-bottom: 2px solid #F79313;
}

.gallery-images {
  flex: 50%;
}

.table {
  display: table;
}

.play-video {
    justify-content: flex-end;
    align-items: flex-end;
}
